div[data-setting-id="pf2e-karmic-dice-draft.player"]>p.notes {
    display: none;
}

div[data-setting-id="pf2e-karmic-dice-draft.trusted"]>p.notes {
    display: none;
}

div[data-setting-id="pf2e-karmic-dice-draft.assistant"]>p.notes {
    display: none;
}

div[data-setting-id="pf2e-karmic-dice-draft.gamemaster"]>p.notes {
    display: none;
}
